@charset "UTF-8";

@font-face {
    font-family: RoxboroughCF;
    src: url(fonts/Roxborough\ CF.ttf) format('truetype');
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf) format(truetype);
}

@font-face {
    font-family: ClearSans-Regular;
    src: url(fonts/ClearSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: ClearSans-Bold;
    src: url(fonts/ClearSans-Bold.ttf);
}



body{
    height: 100vh;
    background-color: #c6c7c3 !important;
}

.main{
    background-color: #c6c7c3;
}


/* col-left */
.col-left{
    background-color: #919898;
    min-width: min-content;
    box-sizing: border-box;
}

#profile-picture{
    border: solid 3px #FFFFFF;
    border-radius: 50%;
}

.title-text{
    font-family: 'RoxboroughCF', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.aboutme-text{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.contacts > a{
    text-decoration: none;
    color: #000000;
}

.contacts > a:hover{
    text-decoration: none;
    color: #000000;
}

.education-date{
    font-family: 'ClearSans-Regular', sans-serif;
    font-size: 14px;
}

.education-title{
    font-family: 'ClearSans-Bold', sans-serif;
    font-size: 18px;
}

.education-subtitle{
    font-family: 'ClearSans-Regular', sans-serif;
    font-size: 15px;
}


/* col-right */
.col-right{
    background-color: #FFFFFF;
    position: relative;
    min-width: min-content;
}

.name-title{
    font-family: 'RoxboroughCF', sans-serif;
    font-size: 40px;
}

.name-subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

#divider{
    position: absolute;
    border: 3.5px solid;
    width: 50%;
    right: 0;
}

.knowledge{
    margin-top: 85px;
}

.col-right ul{
    font-family: 'ClearSans-Normal', sans-serif;
    font-size: 16px;
}

.extra-title{
    font-family: 'ClearSans-Bold' sans-serif;
    font-size: 18px;
}


/* media queries */
@media only screen and (max-width: 800px) {
    .col-right, .col-left{
        width: 100% !important;
    }
}